        .kbw-signature { width: 400px; height: 200px; }
        .noteClass {
            color: #656565 !important;
            font-size: 11px;
            display: block;
            float: none;
        }
        .backgroundForRelatedProgressNote {
            background-color: #77b800 !important;
            color: white !important;
        }
        .backgroundForRelatedPendingProgressNote {
            background-color: #ff7900 !important;
            color: white !important;
        }
        .panelClass{
            background-color: #77b800 !important;
            color: white !important;
        }
        .backgroundForButton {
            color: #fff;
            background-color: #ff7900;
        }
        .borderofPanel {
            border-color: #0086c5 !important;
        }
        .panel-heading {
            color: #fff;
            background-color: #0086c5 !important;
            border-color: #0086c5 !important;
        }
        .backgroundForMainButton {
            color: #fff;
            background-color: #0086c5;
        }
        .scrollBarCssForProgressNote{
            overflow: auto;
            width:100%; 
            margin-left:0%;
            max-height: 429px;
        }
        .top-links{
            margin-bottom: -10%;
        }
        .hrCustomClass { 
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 1px;
            width:98%;
        }
        .CloseForPreview {
            float: right;
            font-size: 2.1em;
            margin-bottom: 0px;
            border-bottom-width: 0px;
            padding-bottom: 6px;
            line-height: 25px;
            position: absolute;
            right: -18px;
            text-align: center;
            top: -14px;
            cursor:pointer
        }
        .PreviewClass {
            opacity: 0.8;
            background-color:#222;
            position:fixed;
            width:100%;
            height:100%;
            top:0px;
            left:0px;
            z-index: 500;
        }
        .scrollForPreview {
            overflow-x: auto;
            width:100%; 
        }
        .PreviewBoxClass{
            transform: scale(0.9);
            z-index: 9999;
            position: relative;
        }